@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face{
  font-family: 'Sans";
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
  font_style: sans-serif;
}
@font-face{
  font-family: 'Sans";
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  unicode-range: U+0020-007E;
  font_style: sans-serif;
}

.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Sans';
}
.title.is-2{
  font-size: 30px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #ff9ba6;
  color: black;
  font-family: 'Poor Story', cursive;
}

.site-category{
  margin:auto;
  padding:0;
  font-size:14px;
  text-align: center;
  clear:left;
  }

.site-category ul{
  height:50px;
  list-style:none;
  line-height: 1.5;
  margin:0 auto;
  padding:0;
  display:inline-block;
  }

.site-category li{
  float: left;
  display:inline;

  }

.site-category li a{
  color: #ff9ba6;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  }

.site-category li a:hover{
  background: #ff9ba6;
  color:#000000;
  text-decoration:none;
  }
