<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">
                {{site.title}}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>
    </div>
</section>

<div class="site-category">
    <ul class='cat1'>
      <li><a href="/Kotlin">Home</a></li>
      <li><a href="/Android">Python</a></li>

    </ul>
  </div>
