<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">
                {{site.title}}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>
    </div>
</section>

<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Python</a>
        <ul>
            <li><a href="/Python/Crawler">Crawler</a></li>
            <li><a href="/Python/Django">Django</a></li>
            <li><a href="/Python/Tensorflow">Tensorflow</a></li>
        </ul>
      </li>

      <li><a href="/">Data Science</a>
        <ul>
          <li><a href="/DS/ML">Machine Learning</a></li>
        </ul>
      </li>

      <li><a href="/">Development Enviroment</a>
        <ul>
            <li><a href="/DE/Github Blog">Github Blog</a></li>
            <li><a href="/DE/Git">Git</a></li>
            <li><a href="/DE/Docker">Docker</a></li>
            <li><a href="/DE/Ubuntu">Ubuntu</a></li>
            <li><a href="/DE/Java">Java</a></li>
        </ul>
      </li>

      <li><a href="/">Android</a>
        <ul>
          <li><a href="/Android/Android">Android</a></li>
        </ul>
      </li>

    </ul>
  </div>
